<a href="https://colab.research.google.com/github/GiliardOliveira/Cluster_Ocorrencias_criminais/blob/master/Cluster_Ocorrencias_criminais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.6/dist-packages (2.5.9)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.0.1)

In [0]:
# imports 
import pandas as pd 
from sklearn import preprocessing
from scipy.spatial import distance_matrix
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
import scipy.cluster.hierarchy as shc
import matplotlib.pyplot as plt
from sklearn.cluster import AgglomerativeClustering
import plotly.graph_objects as go

In [69]:
dataset_OcorrenciasUF = pd.read_excel('indicadoressegurancapublicaufdez19.xlsx')
dataset_OcorrenciasUF

              UF                           Tipo Crime  ...       Mês Ocorrências
0           Acre                              Estupro  ...   janeiro           6
1           Acre                     Furto de veículo  ...   janeiro           0
2           Acre                     Homicídio doloso  ...   janeiro          13
3           Acre      Lesão corporal seguida de morte  ...   janeiro           0
4           Acre       Roubo a instituição financeira  ...   janeiro           0
...          ...                                  ...  ...       ...         ...
14481  Tocantins       Roubo a instituição financeira  ...  dezembro           0
14482  Tocantins                       Roubo de carga  ...  dezembro           0
14483  Tocantins                     Roubo de veículo  ...  dezembro          51
14484  Tocantins  Roubo seguido de morte (latrocínio)  ...  dezembro           0
14485  Tocantins               Tentativa de homicídio  ...  dezembro          43

[14486 rows x 5 columns]

Após a importacao, separei a base por ano e exportei para excel

In [0]:
data2015 = dataset_OcorrenciasUF.query('Ano == 2015')
data2015.to_excel('Ocorrencias2015.xlsx')

In [0]:
data2016 = dataset_OcorrenciasUF.query('Ano == 2016')
data2016.to_excel('Ocorrencias2016.xlsx')

In [0]:
data2017 = dataset_OcorrenciasUF.query('Ano == 2017')
data2017.to_excel('Ocorrencias2017.xlsx')

In [0]:
data2018 = dataset_OcorrenciasUF.query('Ano == 2018')
data2018.to_excel('Ocorrencias2018.xlsx')

In [0]:
data2019 = dataset_OcorrenciasUF.query('Ano == 2019')
data2019.to_excel('Ocorrencias2019.xlsx')

Apos fazer o upload das bases apenas sera nescessario trocar o ano da base de dados .xlsx abaixo

In [75]:
dataset_ano = pd.read_excel("Ocorrencias2017.xlsx")
dataset_ano.head()

   Unnamed: 0    UF  ...      Mês  Ocorrências
0         216  Acre  ...  janeiro            0
1         217  Acre  ...  janeiro            0
2         218  Acre  ...  janeiro           43
3         219  Acre  ...  janeiro            0
4         220  Acre  ...  janeiro            0

[5 rows x 6 columns]

In [0]:

dataset_ano = dataset_ano.drop(dataset_ano.columns[dataset_ano.columns.str.contains('unnamed',case = False)],axis = 1)

In [77]:
dataset_ano.head()

     UF                       Tipo Crime   Ano      Mês  Ocorrências
0  Acre                          Estupro  2017  janeiro            0
1  Acre                 Furto de veículo  2017  janeiro            0
2  Acre                 Homicídio doloso  2017  janeiro           43
3  Acre  Lesão corporal seguida de morte  2017  janeiro            0
4  Acre   Roubo a instituição financeira  2017  janeiro            0

O proximo passo é clusterizar as cidades com maiores indices de crime por crime